{% load thumbnail %}
<div class="col">
  <div class="card shadow-sm">
    <!-- Fotos -->
    {% if not object.foto_destaque %}
    <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
         xmlns="http://www.w3.org/2000/svg"
         role="img"
         aria-label="Placeholder: Thumbnail"
         height="240px"
         preserveAspectRatio="xMidYMid slice"
         focusable="false">
      <title>fotos</title>
      <rect width="100%" height="100%" fill="#55595c"></rect>
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">sem foto</text></svg>
    {% else %}

    <!-- Carousel de fotos do artesanato -->
    <div id="carousel-artesanato-{{ target }}-{{ object.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="10000000">
      <div class="carousel-indicators">
        {% if object.fotos %}
        {% for foto in object.fotos.all %}
        {% if foto.foto %}
        <button type="button" data-bs-target="#carousel-artesanato-{{ target }}-{{ object.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active" aria-current="true"{% endif %} aria-label="Foto {{ forloop.counter }}"></button>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

      <div class="carousel-inner">
        {% if object.fotos %}
        {% for foto in object.fotos.all %}
        {% if foto.foto %}
        <div class="carousel-item {% if not forloop.counter0 %}active{% endif %}">
          <img src="{{ foto.foto|thumbnail_url:'medium'|default:'holder.js/425x425' }}" class="d-block w-100 img-thumbnail" alt="Foto do artesanato">
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-artesanato-{{ target }}-{{ object.id }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-artesanato-{{ target }}-{{ object.id }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próxima</span>
      </button>
    </div>

    {% endif %}

    <div class="card-body">
      <p class="card-text">
        <!-- código e técnica artesanal -->
        <b>cód.: {{ object.id }} - {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}</b>

        <!-- data de cadastro -->
        <br>
        <small class="text-muted text-center">{{ object.artesa.tekoa }}</small>
        <br>

        <!-- variações atribuídas -->
        {% for variacao in object.variacoes.all %}
        {% if variacao.valor_variacao.valor_variacao %}
        <!-- <span class="badge text-bg-info">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}</span> -->
        {% endif %}
        {% endfor %}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <!-- rodapé: botões de ação -->
        <div class="text-left">
          {% if target != 'artesanatos_favoritos' %}
            <a href="{% url 'publico-artesanato-detail' object.id %}"
               modal-title="cód.: {{ object.id }} - {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}"
               type="button" class="btn btn-sm btn-outline-secondary is_modal" title="Visualizar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
            </a> &nbsp;&nbsp;&nbsp;
            <!-- button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Tenho interesse
            </button -->
            <button href="https://catalogo.tekoakuery.com{% url 'publico-artesanato-detail' object.id %}" class="btn btn-sm btn-outline-success button-share" id="button-share" title="Compartilhar link do artesanato">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
              </svg>
            </button>
          {% endif %}

        </div>
        <div class="text-end position-relative">
          <input type="hidden" class="artesanato-favorite-hidden">
          <div class="position-absolute artesanato-favorite-text" style="right: -17px;top: -20px;"></div>
          {% if object.id|stringformat:"i" in request.session.artesanatos_favoritos %}
          <a id="btn-artesanato-favorito-{{ object.id }}" 
             {% if target == 'artesanatos_favoritos' %}
             data-btn-artesanato-favorito="btn-artesanato-favorito-{{ object.id }}"
             {% endif %}
             href="{% url 'publico-artesanato-favorite' object.id %}"
             class="artesanato-favorite artesanato-favorite-action"
             title="Favoritado!">
            <i class="bi-heart-fill fav-selected"></i>
          </a>
          {% else %}
          <a id="btn-artesanato-favorito-{{ object.id }}"
             {% if target == 'artesanatos_favoritos' %}
             data-btn-artesanato-favorito="btn-artesanato-favorito-{{ object.id }}"
             {% endif %}
             href="{% url 'publico-artesanato-favorite' object.id %}"
             class="artesanato-favorite artesanato-favorite-action" title="Favoritar">
            <i class="bi-heart-fill fav-unselected"></i>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

