{% extends "base.html" %}

{% block title %}
    <!-- Artesanato &raquo; {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }} -->
{% endblock %}

{% block content %}
<!-- <ul> -->
<!--     <li><a href="{% url 'artesanato-list' %}">voltar a listagem</a></li> -->
<!--     <li><a href="{% url 'artesanato-update' object.id %}">Editar artesanato</a></li> -->
<!--     <li><a href="{% url 'artesanato-preco_justo' object.id %}">Artesanato - Preço justo</a></li> -->
<!-- </ul> -->

{% csrf_token %}

<div class="row row-cols-1 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <!-- Fotos -->
            {% if not object.foto_destaque %}
            <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                 xmlns="http://www.w3.org/2000/svg"
                 role="img"
                 aria-label="Placeholder: Thumbnail"
                 height="240px"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <title>adicione fotos</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">sem foto</text></svg>
            {% else %}

            <!-- Carousel de fotos do artesanato -->
            <div id="carousel-artesanato-{{ object.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="10000000">
                <div class="carousel-indicators">
                    {% for foto in object.fotos.all %}
                    <button type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active" aria-current="true"{% endif %} aria-label="Foto {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>

                <div class="carousel-inner">
                    {% for foto in object.fotos.all %}
                    <div class="carousel-item {% if not forloop.counter0 %}active{% endif %}">
                        <img src="{{ foto.foto.url }}" class="d-block w-100 img-thumbnail" alt="Foto do artesanato">
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próxima</span>
                </button>
            </div>

            {% endif %}

            <div class="card-body">
                <p class="card-text">
                    <!-- código e técnica artesanal -->
                    <b>cód.: {{ object.id }} - {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}</b>

                    <!-- data de cadastro -->
                    <br>
                    <small class="text-muted text-center">cadastrado em {{ object.data_registro|date:"d/m/Y" }}</small>
                    <br>

                    <!-- variações atribuídas -->
                    {% for variacao in object.variacoes.all %}
                    {% if variacao.valor_variacao.valor_variacao %}
                    <span class="badge text-bg-info">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}</span>
                    {% endif %}
                    {% endfor %}
                </p>

                <!-- Faixa de preço: preço justo - preço social (até 50% off) -->

                <div class="row text-center mb-4 p-2 bg-light">
                    <div class="col border-end">
                        <p class="card-text text-success">
                            <b>
                                <span class="fs-5">Preço justo</span>
                                <br>
                                <span class="fs-2">R$ {{ object.calculo_preco_justo }}</span>
                            </b>
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text text-muted">
                            <b>
                                Preço social
                                <br>
                                até R$ {{ object.calculo_preco_justo_desconto }}
                            </b>
                            <br>
                            <small>(50% de desconto)</small>
                        </p>
                    </div>
                </div>



                <div class="d-flex justify-content-between align-items-center">

                    <!-- rodapé: botões de ação -->
                    <div class="btn-group">
                        <!-- <a href="{# url 'artesanato-delete' object.id #}" type="button" class="btn btn-sm btn-outline-danger btn-remove">Deletar</a> -->
                        <a href="{% url 'artesanato-update' object.id %}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                    </div>

                    <!-- status de publicação -->
                    {% if 'PUBLICAR' in object.get_status_publicacao.0 %}
                    <span class="text-danger">
                        <b>Falta publicar!</b>
                    </span>
                    {% elif 'ATUALIZAR_PUBLICACAO' in object.get_status_publicacao.0 %}
                    <span class="text-warning">
                        <b>Atualizar publicação!</b>
                    </span>
                    {% else %}
                    <span class="text-success">
                        <b>Publicado!</b>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mt-5">
  <div class="card-header">
    <b>Custos</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">Custos de materiais do artesanato:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ custos_relacionados|join:"</li><li class='list-group-item'>" }}</li>
    </ul>

    <h5 class="card-title">Custos de materiais relacionados as variações:</h5>
    <ul class="list-group list-group-flush">
        {% for variacao in object.variacoes.all %}
            {% if variacao.valor_variacao.valor_variacao %}
            <li class="list-group-item">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}
                    <ul class="list-group list-group-flush">
                    {% for custo_variacao in variacao.valor_variacao.custos.all %}
                        <li class="list-group-item">
                            {{ custo_variacao.custo }} - R$ {{ custo_variacao.valor }} - Rende {{ custo_variacao.rentabilidade_por_peca_base }} peças-base
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p class="card-text"><b>Total de custos: {{ object.calculo_total_custos }}</b></p>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <b>Tempo-trabalho</b>
  </div>
  <div class="card-body">
      <h5 class="card-title">Tempo-trabalho para produção do artesanato:</h5>
      <p>{{ object.tekoa_tecnica_artesanato.tempo_trabalho_peca_base|default:0 }} horas</p>
      <h5 class="card-title">Tempo-trabalho relacionados a variações:</h5>
      <ul class="list-group list-group-flush">
          {% for variacao in object.variacoes.all %}
          {% if variacao.valor_variacao.valor_variacao %}
          <li class="list-group-item">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }} - Tempo-trabalho: {{ variacao.valor_variacao.tempo_trabalho_variacao|default:0 }} horas</li>
          {% endif %}
          {% endfor %}
      </ul>
      <p>Total do tempo-trabalho: {{ object.calculo_total_tempo_trabalho }}</p>
      <p>Total do valor para o tempo-trabalho: {{ object.calculo_total_valor_tempo_trabalho }}</p>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <b>Valor / hora-trabalho</b>
  </div>
  <div class="card-body">
      <p>Piso da categoria artesã/ão: R$ {{ tempo_trabalho_config.piso_categoria_artesa }}</p>
      <p>Carga horária por mês: {{ tempo_trabalho_config.carga_horas_mes }}</p>
      <p>Valor / hora trabalho: {{ object.calculo_valor_hora }}</p>
  </div>
</div>

<div class="card mt-5 mb-5">
  <div class="card-header">
    <b>Preço justo</b>
  </div>
  <div class="card-body">
      <p>total de custos + total do valor para o tempo-trabalho = {{ object.calculo_preco_justo }}</p>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script>
    //////////////////////
    // Excluir artesanato
    //////////////////////
    $('.btn-remove').on('click', function(e){
        e.preventDefault();
        url = $(this).attr('href');
        if (! confirm('Deseja realmente excluir este artesanato ?'))
            return false

        data = {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
        };
        $.post(url, data, function (data) {
            console.log(data);
        })
            .done(function() {
               window.location = '/';
            });
    });
</script>
{% endblock %}

{% block extra_style %}
<style>
    .carousel-item img {
        object-fit: cover;
        height: 250px !important;
    }
</style>
{% endblock %}
