{% extends "base_loadstatic.html" %}
{% load thumbnail %}

{% block content %}
<div class="container-fluid">

  <div class="row row-cols-1 g-3 position-relative">
    <div class="col-12">
      <div class="card shadow-sm">
        <!-- Fotos -->
        {% if not object.foto_destaque %}
        <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
             xmlns="http://www.w3.org/2000/svg"
             role="img"
             aria-label="Placeholder: Thumbnail"
             height="240px"
             preserveAspectRatio="xMidYMid slice"
             focusable="false">
          <title>fotos</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">sem foto</text></svg>
        {% else %}

        <!-- Carousel de fotos do artesanato -->
        <div id="carousel-artesanato-{{ object.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="10000000">
          <div class="carousel-indicators">
            {% for foto in object.fotos.all %}
            <button type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active" aria-current="true"{% endif %} aria-label="Foto {{ forloop.counter }}"></button>
            {% endfor %}
          </div>

          <div class="carousel-inner">
            {% for foto in object.fotos.all %}
            <div class="carousel-item {% if not forloop.counter0 %}active{% endif %}">
              <img src="{{ foto.foto|thumbnail_url:'large'|default:'holder.js/425x425' }}" class="d-block w-100 img-thumbnail" alt="Foto do artesanato">
            </div>
            {% endfor %}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próxima</span>
          </button>
        </div>

        {% endif %}

        <div class="card-body">
          <div class="row">
            <div class="col col-10">
              <p class="card-text">
                <!-- código e técnica artesanal -->
                <b>cód.: {{ object.id }} - {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}</b>
                <a  href="https://catalogo.tekoakuery.com{% url 'publico-artesanato-detail' object.id %}"
                    class="btn btn-sm btn-outline-success ms-3 border-0"
                    id="button-share"
                    title="Compartilhar link do artesanato">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                  </svg>
                </a>

                <!-- data de cadastro -->
                <br>
                <!-- <small class="text-muted text-center">cadastrado em {{ object.data_registro|date:"d/m/Y" }}</small> -->
                <small class="text-muted text-center">{{ object.artesa.tekoa }} -
                  <a href="#" title="conheça mais sobre a artesã/ão">{{ object.artesa }}</a></small>
                <br>

                <!-- variações atribuídas -->
                {% for variacao in object.variacoes.all %}
                {% if variacao.valor_variacao.valor_variacao %}
                <span class="badge text-bg-info">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}</span>
                {% endif %}
                {% endfor %}
              </p>
            </div>
            <div class="col col-2 text-end position-relative align-bottom">
              <input type="hidden" class="artesanato-favorite-hidden">
              <div class="position-absolute artesanato-favorite-text" style="right: -17px;top: -20px;"></div>
              {% if object.id|stringformat:"i" in request.session.artesanatos_favoritos %}
              <a href="{% url 'publico-artesanato-favorite' object.id %}" class="artesanato-favorite artesanato-favorite-action" data-btn-artesanato-favorito="btn-artesanato-favorito-{{ object.id }}" title="Favoritado!">
                <i class="bi-heart-fill fav-selected"></i>
              </a>
              {% else %}
              <a href="{% url 'publico-artesanato-favorite' object.id %}" class="artesanato-favorite artesanato-favorite-action" data-btn-artesanato-favorito="btn-artesanato-favorito-{{ object.id }}" title="Favoritar">
                <i class="bi-heart-fill fav-unselected"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Faixa de preço: preço justo - preço social (até 50% off) -->

        <!--
          <div class="row text-center mb-4 p-2 bg-light">
          <div class="col border-end">
          <p class="card-text text-success">
          <b>
          <span class="fs-5">Preço justo</span>
          <br>
          <span class="fs-2">R$ {{ object.calculo_preco_justo }}</span>
          </b>
          </p>
          </div>
          <div class="col">
          <p class="card-text text-muted">
          <b>
          Preço social
          <br>
          até R$ {{ object.calculo_preco_justo_desconto }}
          </b>
          <br>
          <small>(50% de desconto)</small>
          </p>
          </div>
          </div>
        -->
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block extra_style %}
{{ block.super }}
<style>
.carousel-item img {
  object-fit: cover;
  height: 250px !important;
}
  @media screen and (min-width: 480px) {
    .carousel-item img {
      height: 400px !important;
    }
  }
  @media screen and (min-width: 700px) {
    .carousel-item img {
      height: 800px !important;
    }
  }
</style>
{% endblock %}
