{% extends "base_publico.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-3 mb-4">
  {% for object in object_list %}
    {% include "preco_justo/_artesanatocadastro_publicacao.html" %}
  {% empty %}
    <p>Nenhum artesanato encontrado.</p>
  {% endfor %}
</div>
{% endblock %}

{% block extra_style %}
<style>
.carousel-item img {
  object-fit: cover;
  height: 250px
}
</style>
{% endblock %}
