{% extends "base_loadstatic.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div id="artesanatos-como-adquirir" class="d-none">
    <div class="mb-4">
      <p>Se você gostou dos artesanatos Guarani M'Bya e <b>deseja comprar, siga os passos:</b></p>
    </div>
    
    <div class="row">
      <div class="col col-6 col-lg-3 mb-4 mb-lg-0 border-start ps-4">
        <b>1.</b> Selecione os artesanatos que tiver interesse clicando em s2
      </div>
      <div class="col col-6 col-lg-3 mb-4 mb-lg-0 border-start ps-4">
        <b>2.</b> Abra a lista de artesanatos favoritos clicando em s2 (com número)
      </div>
      <div class="col col-6 col-lg-3 border-start ps-4">
        <b>3.</b> Informe seu nome e endereço de contato
      </div>
      <div class="col col-6 col-lg-3 border-start ps-4">
        <b>4.</b> Pronto! A artesã receberá sua lista de interesse e entrará em contato para combinar o pagamento e a entrega.
      </div>
    </div>

    <div class="row">
      <div class="col text-end">
        <hr class="mt-4">
        {% if artesanatos_favoritos.count > 0 %}
          <button class="btn btn-warning mt-2 btn-artesanatos-como-adquirir">Ok, entendi! Me leve de volta</button>
        {% else %}
          <button type="button" class="btn btn-success mt-2" data-bs-dismiss="modal">Entendi! Quero começar</button>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="artesanatos-favoritos-row" class="row">
    {% if artesanatos_favoritos.count > 0 %}

      {# coluna direita #}
      <div class="col-12 col-xl-5 float-start float-xl-end pt-3">
        <p>Olá, seja bem-vinde!</p>
        <p>Estamos felizes pelo seu interesse na cultura e trabalhos artesanais Guarani M'Bya.</p>
        <p>Para saber os valores e como adquirir as peças artesanais, <b>informe seu telefone / cel. ou e-mail</b> que entraremos em contato.</p>
        {# formulário de contato #}
        <form id="artesanatos-favoritos-list" action="{% url 'publico-artesanato-favorite-list' %}" method="post" class="mt-5 p-3 border rounded">
          {% csrf_token %}
          <span id="id___all__"></span>
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-4">Enviar</button>
          <button class="btn btn-warning mt-4 btn-artesanatos-como-adquirir">Não entendi! Me explica melhor?</button>
        </form>
      </div>

      {# coluna esquerda #}
      <div class="col-12 col-xl-7 float-end float-xl-start pt-3">
        <div class="overflow-auto artesanatos-favoritos-modal-list">
          {# lista de artesanatos favoritos #}
          {% for object in artesanatos_favoritos %}
            {% include "preco_justo/_artesanatocadastro_publicacao.html" %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <script>
        $('#artesanatos-como-adquirir').toggleClass('d-none');
      </script>
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
  $( document ).ready(function() {
    $("#id_telefone").mask("(00) 00000-0000", {
      placeholder: "(__) _____-____"
    });
  });

  setTimeout(function(){$('#id_telefone').focus()}, 500);
</script>
{% endblock %}
