{% extends "preco_justo/artesanatocadastro_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post" class="mt-4">{% csrf_token %}
        {{ form|crispy }}
        {{ formset.management_form }}

        {% if object %}
        <div class="mb-3">
        Selecione as características do artesanato:
        </div>
        {% endif %}

        {% for v in object.variacoes.all %}
            <div class="mb-3">
                <input type="hidden" id="variacoes-{{ forloop.counter0 }}-variacao" name="variacoes-{{ forloop.counter0 }}-variacao" value="{{ v.variacao.id }}">
                <input type="hidden" id="variacoes-{{ forloop.counter0 }}-id" name="variacoes-{{ forloop.counter0 }}-id" value="{{ v.id }}">
                <input type="hidden" id="variacoes-{{ forloop.counter0 }}-artesanato" name="variacoes-{{ forloop.counter0 }}-artesanato" value="{{ v.artesanato.id }}">
                <label for="{{ v.variacao.nome }}" class="form-label">{{ v.variacao.nome }}</label>
                <select name="variacoes-{{ forloop.counter0 }}-valor_variacao" id="variacoes-{{ forloop.counter0 }}-valor_variacao" class="form-select" aria-label="Selecione uma opção de tamanho">
                    <option value="">Selecione uma opção</option>
                    {% for variacao_opcoes in v.variacao.valores_variacao.all %}
                        <option value="{{ variacao_opcoes.id }}" {% if variacao_opcoes.id in variacoes_selecionadas %} selected {% endif %} >
                        {{ variacao_opcoes.valor_variacao }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        {% if object %}
            <a type="button" class="btn btn-danger mt-5" href="#"
                onclick="if(confirm('Deseja realmente cancelar?')) window.location='{% url 'artesanato-detail' object.id %}';">Cancelar</a>
            <button type="submit" class="btn btn-success mt-5 float-end">Salvar</button>
        {% else %}
            <a type="button" class="btn btn-danger mt-5" href="#"
                onclick="if(confirm('Deseja realmente cancelar?')) window.location='{% url 'artesanato-list' %}';">Cancelar</a>
            <button type="submit" class="btn btn-success mt-5 float-end">Próximo passo</button>
        {% endif %}
    </form>
{% endblock %}

{% block extra_style %}
    {{ form.media.css }}
    {{ block.super }}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {{ form.media.js }}

    {% if object.pk %}
    <script>
        $('#div_id_tekoa_tecnica_artesanato').css('display', 'none');
    </script>
    {% endif %}
{% endblock %}
