{% extends "preco_justo/artesanatocadastro_base.html" %}

{% block content %}

<div class="card mt-5">
  <div class="card-header">
    <b>Custos</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">Custos de materiais do artesanato:</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ custos_relacionados|join:"</li><li class='list-group-item'>" }}</li>
    </ul>

    <h5 class="card-title">Custos de materiais relacionados as variações:</h5>
    <ul class="list-group list-group-flush">
        {% for variacao in object.variacoes.all %}
            {% if variacao.valor_variacao.valor_variacao %}
            <li class="list-group-item">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}
                    <ul class="list-group list-group-flush">
                    {% for custo_variacao in variacao.valor_variacao.custos.all %}
                        <li class="list-group-item">
                            {{ custo_variacao.custo }} - R$ {{ custo_variacao.valor }} - Rende {{ custo_variacao.rentabilidade_por_peca_base }} peças-base
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p class="card-text"><b>Total de custos: {{ object.calculo_total_custos }}</b></p>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <b>Tempo-trabalho</b>
  </div>
  <div class="card-body">
      <h5 class="card-title">Tempo-trabalho para produção do artesanato:</h5>
      <p>{{ object.tekoa_tecnica_artesanato.tempo_trabalho_peca_base|default:0 }} horas</p>
      <h5 class="card-title">Tempo-trabalho relacionados a variações:</h5>
      <ul class="list-group list-group-flush">
          {% for variacao in object.variacoes.all %}
          {% if variacao.valor_variacao.valor_variacao %}
          <li class="list-group-item">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }} - Tempo-trabalho: {{ variacao.valor_variacao.tempo_trabalho_variacao|default:0 }} horas</li>
          {% endif %}
          {% endfor %}
      </ul>
      <p>Total do tempo-trabalho: {{ object.calculo_total_tempo_trabalho }}</p>
      <p>Total do valor para o tempo-trabalho: {{ object.calculo_total_valor_tempo_trabalho_round }}</p>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <b>Valor / hora-trabalho</b>
  </div>
  <div class="card-body">
      <p>Média da categoria artesã/ão: R$ {{ tempo_trabalho_config.piso_categoria_artesa }}</p>
      <p>Carga horária por mês: {{ tempo_trabalho_config.carga_horas_mes }}</p>
      <p>Valor / hora trabalho: {{ object.calculo_valor_hora }}</p>
      <p>Data da atualização da média salarial: {{ tempo_trabalho_config.data_atualizacao }}</p>
      <p>Observações: <br> <pre>{{ tempo_trabalho_config.observacoes }}</pre></p>
  </div>
</div>

<div class="card mt-5 mb-5">
  <div class="card-header">
    <b>Preço justo</b>
  </div>
  <div class="card-body">
      <p>total de custos + total do valor para o tempo-trabalho = {{ object.calculo_preco_justo }}</p>
  </div>
</div>

{% endblock %}
