{% extends "base.html" %}

{% block title %}
Artesanato &raquo; {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}
{% endblock %}

{% block content %}
O <b>preço justo</b> para este artesanato é <b>R$ {{ object.calculo_preco_justo }}</b>

<p>Entenda o método de precificação.</p>

<p>Você pode selecionar um preço social</p>

<input type="hidden" name="preco_justo" id="preco_justo" value="{{ object.calculo_preco_justo }}">
<input type="hidden" name="total_custo" id="total_custo" value="{{ object.calculo_total_custos }}">
<input type="hidden" name="total_trabalho" id="total_trabalho" value="{{ object.calculo_total_valor_tempo_trabalho }}">

<input type="range" class="form-range" id="rangeInput" name="rangeInput" value="0" step="1" min="0">
<label id="rangeText" />

{% endblock %}

{% block extra_script %}
<script>

    // Percentual máximo de desconto;
    var percent_max = 50;

    // Número de intervalos de desconto;
    var range_max = 10;

    $('#rangeInput').attr('max', range_max);

    function get_preco_justo (value_range, max_range) {
        if (value_range==0) {
            return 'Este é o preço justo!'
        }
        preco_justo = number_with_commas($('#preco_justo').val());
        total_custo = number_with_commas($('#total_custo').val());
        total_trabalho = number_with_commas($('#total_trabalho').val());

        percent_by_step = percent_max / max_range;
        percent_desconto = percent_by_step * value_range;

        valor_desconto = (preco_justo * percent_desconto)/100;

        preco_final = preco_justo - valor_desconto;

        msg = 'R$ '+ preco_final + ' (desconto de '+ percent_desconto +'%) <br>';

        // Paga o custo e cobre x% do trabalho

        if (valor_desconto < total_trabalho) {
            percent_trabalho = 100 - ((100 * percent_desconto)/total_trabalho);
            percent_trabalho = percent_trabalho.toFixed(2);
            msg += 'Paga o custo e cobre '+ percent_trabalho +'% do trabalho.';
            return msg;
        }
        else {
            percent_custo = 100 - ((100 * percent_desconto)/total_custo);
            percent_custo = percent_custo.toFixed(2);
            msg += 'Não paga o trabalho e cobre '+ percent_custo +'% do custo.';
            return msg;
        }
    }

    function number_with_commas(x) {
        return parseFloat(x.replace(',','.').replace(' ',''))
    }

    $(function () {

        // on page load, set the text of the label based the value of the range
        $('#rangeText').html(get_preco_justo($('#rangeInput').attr('min'), $('#rangeInput').attr('max')));

        // setup an event handler to set the text when the range value is dragged (see event for input) or changed (see event for change)
        $('#rangeInput').on('input change', function () {
            value = $(this).val();
            max_range = $(this).attr('max');
            price_selected = get_preco_justo(value, max_range);
            $('#rangeText').html(price_selected);

        });

    });
</script>
{% endblock %}
