{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{% endblock %}
{% block content %}

{% if request.user.is_authenticated and not request.user.tekoa %}

    {% if request.session.tekoa_access_token %}
    <script>
        window.location = "{% url 'consulta-artesanato-list' request.session.tekoa_access_token %}";
        exit();
    </script>
    {% else %}
    <script>
        window.location = "{% url 'consulta-artesanato-list' request.user.tekoa_recent_registration.access_token %}";
        exit();
    </script>
    {% endif %}

{% else %}

<div class="container">
  <div class="row">
    <div class="col col-8">
        <h1>Artesanatos cadastrados</h1>
    </div>
    <div class="col col-4">
      <a href="{% url 'artesanato-create' %}" type="button" class="btn btn-primary">Adicionar</a>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-3 mt-4 mb-4">
    {% for object in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <!-- Fotos -->
            {% if not object.foto_destaque %}
                <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     aria-label="Placeholder: Thumbnail"
                     height="240px"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>adicione fotos</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">sem foto</text></svg>
            {% else %}

                <!-- Carousel de fotos do artesanato -->
                <div id="carousel-artesanato-{{ object.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="10000000">
                    <div class="carousel-indicators">
                        {% for foto in object.fotos.all %}
                        <button type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active" aria-current="true"{% endif %} aria-label="Foto {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>

                    <div class="carousel-inner">
                        {% for foto in object.fotos.all %}
                        <div class="carousel-item {% if not forloop.counter0 %}active{% endif %}">
                            {% if foto.foto %}
                                <img src="{{ foto.foto|thumbnail_url:'medium'|default:'holder.js/425x425' }}" class="d-block w-100 img-thumbnail" alt="Foto do artesanato">
                            {% else %}
                            <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                                 xmlns="http://www.w3.org/2000/svg"
                                 role="img"
                                 aria-label="Placeholder: Thumbnail"
                                 height="240px"
                                 preserveAspectRatio="xMidYMid slice"
                                 focusable="false">
                                <title>adicione fotos</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">foto corrompida! adicione novamente</text></svg>

                            {% endif %}

                        </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-artesanato-{{ object.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próxima</span>
                    </button>
                </div>

            {% endif %}

            <div class="card-body">
                <p class="card-text">
                    <!-- código e técnica artesanal -->
                    <b>cód.: {{ object.id }} - {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}</b>

                    <!-- data de cadastro -->
                    <br>
                    <small class="text-muted text-center">cadastrado em {{ object.data_registro|date:"d/m/Y" }}</small>
                    <br>

                    <!-- variações atribuídas -->
                    {% for variacao in object.variacoes.all %}
                        {% if variacao.valor_variacao.valor_variacao %}
                            <span class="badge text-bg-info">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}</span>
                        {% endif %}
                    {% endfor %}
                </p>

                <!-- Faixa de preço: preço justo - preço social (até 50% off) -->

                <div class="row text-center mb-4 p-2 bg-light">
                    <div class="col border-end">
                        <p class="card-text text-success">
                            <b>
                                <span class="fs-5">Preço justo</span>
                                <br>
                                <span class="fs-2">R$ {{ object.calculo_preco_justo }}</span>
                            </b>
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text text-muted">
                            <b>
                                Preço social
                                <br>
                                até R$ {{ object.calculo_preco_justo_desconto }}
                            </b>
                            <br>
                            <small>(50% de desconto)</small>
                        </p>
                    </div>
                </div>



                <div class="d-flex justify-content-between align-items-center">

                    <!-- rodapé: botões de ação -->
                    <div class="btn-group">
                        <!-- <a href="{% url 'artesanato-detail' object.id %}" type="button" class="btn btn-sm btn-outline-secondary">Visualizar</a> -->
                        <a href="{% url 'artesanato-update' object.id %}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                    </div>

                    <!-- status de publicação -->
                    {% if 'PUBLICAR' in object.get_status_publicacao.0 %}
                    <span class="text-danger">
                        <b>Falta publicar!</b>
                    </span>
                    {% elif 'ATUALIZAR_PUBLICACAO' in object.get_status_publicacao.0 %}
                    <span class="text-warning">
                        <b>Atualizar publicação!</b>
                    </span>
                    {% else %}
                    <span class="text-success text-center">
                        <b>Publicado!</b><br>
                        <a href="{% url 'publico-artesanato-detail' object.id %}" type="button" class="btn btn-sm btn-link">Ver publicação</a>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Nenhum artesanato encontrado.</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block extra_style %}
<style>
    .carousel-item img {
        object-fit: cover;
        height: 250px !important;
    }
</style>
{% endblock %}
