{% extends "preco_justo/artesanatocadastro_base.html" %}
{% load thumbnail %}

{% block content %}
<div class="mb-5 mt-5">
  <a href="{% url 'artesanato-foto-create' object.pk %}" type="button" class="btn btn-success">Adicionar foto</a>
</div>

<div class="miniaturas">
    {% csrf_token %}
    {% for imagem in object_list %}
        {% if imagem.foto %}
            <div class="miniatura mb-5">
                <picture>
                    <source srcset="{{ imagem.foto|thumbnail_url:'medium'|default:'holder.js/425x425' }}" type="image/svg+xml">
                    <img src="{{ imagem.foto|thumbnail_url:'medium'|default:'holder.js/425x425' }}" class="img-fluid img-thumbnail" alt="...">
                </picture>
                <p>
                    <a class="btn-remove" href="{% url 'artesanato-foto-delete' imagem.id %}">
                        Excluir foto</a>
                    {% if imagem.destaque %}
                    | Foto destaque
                    {% else %}
                    | <a class="btn-foto-destaque" href="{% url 'artesanato-foto-destaque' imagem.id %}">
                        Definir como foto destaque</a>
                    {% endif %}
                </p>
            </div>
        {% else %}
        <div class="miniatura mb-5">
            <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                 xmlns="http://www.w3.org/2000/svg"
                 role="img"
                 aria-label="Placeholder: Thumbnail"
                 height="240px"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <title>adicione fotos</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">foto corrompida! adicione novamente</text></svg>

                <a class="btn-remove" href="{% url 'artesanato-foto-delete' imagem.id %}">
                Excluir foto</a>
        </div>
        {% endif %}
    {% empty %}
        <p>Nenhuma foto cadastrada.</p>
    {% endfor %}
</div>
{% endblock %}

{% block extra_script %}
<script>
    ////////////////
    // Excluir foto
    ////////////////
    $('.btn-remove').on('click', function(e){
        e.preventDefault();
        url = $(this).attr('href');
        if (! confirm('Deseja realmente excluir este registro ?'))
            return false

        data = {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
        };
        $.post(url, data, function (data) {
            console.log(data);
        })
            .done(function() {
                location.reload();
            });
    });

    ////////////////
    // Foto Destaque
    ////////////////
    $('.btn-foto-destaque').on('click', function(e){
        e.preventDefault();
        url = $(this).attr('href');
        if (! confirm('Deseja realmente tornar esta foto destaque ?'))
            return false

        $.get(url, function (data) {
            console.log(data);
        })
            .done(function() {
                location.reload();
            });
    });
</script>
{% endblock %}
