{% extends "preco_justo/artesanatocadastro_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% csrf_token %}

{% if 'PUBLICAR' in status_publicacao %}
    <div class="card border-danger mt-4">
        <div class="card-header"><b>Publicar!</b></div>
        <div class="card-body">
            <h5 class="card-title">Este artesanato não está publicado!</h5>
            <p class="card-text">
                Clique no botão "Publicar" para mostrar este item no catálogo. Além disso, uma mensagem de aviso de publicação será enviada para o grupo de apoio.
            </p>
        </div>
    </div>

    <form class="mt-3">
        <label for="mensagem_publicacao">Escreva uma observação sobre esta publicação:</label>
        <textarea rows="4" name="mensagem_publicacao" id="mensagem_publicacao" class="form-control"></textarea>
    </form>

    <div class="mb-5 mt-5">
      <a class="acao-publicar btn btn-success" href="{% url 'artesanato-publicar' object.pk %}" type="button">
          Publicar
      </a>
    </div>
{% elif 'ATUALIZAR_PUBLICACAO' in status_publicacao %}

    <div class="card border-warning mt-4">
        <div class="card-header"><b>Atualizar publicação!</b></div>
        <div class="card-body">
            <h5 class="card-title">A publicação deste artesanato precisa ser atualizada!</h5>
            <small class="text-muted">Utima publicação em {{ object.data_publicacao|date:"d/m/Y" }}</small>
            <p class="card-text">Este cadastro têm alterações não publicadas.
                <br>Clique no botão "Atualizar publicação" e uma mensagem de solicitação de atualização de publicação será enviada para o grupo de apoio.
            </p>
        </div>
    </div>

    <form class="mt-3">
        <label for="mensagem_publicacao">Escreva uma observação sobre esta atualização de publicação:</label>
        <textarea rows="4" name="mensagem_publicacao" id="mensagem_publicacao" class="form-control"></textarea>
    </form>

    <div class="mb-5 mt-5">
      <a href="{% url 'artesanato-atualizar-publicacao' object.pk %}" type="button" class="btn btn-success acao-atualizar-publicacao">
          Atualizar publicação
      </a>
    </div>
{% else %}
    <div class="card border-success mt-4">
        <div class="card-header"><b>Publicado!</b></div>
        <div class="card-body">
            <h5 class="card-title">Este artesanato já está publicado!</h5>
            <small class="text-muted">Utima publicação em {{ object.data_publicacao|date:"d/m/Y" }}</small>
            <p class="card-text">
                Parabéns, este artesanato já está publicado!
            </p>
            <a href="{% url 'publico-artesanato-detail' object.id %}" type="button" class="btn btn-sm btn-link">Ver publicação</a>
        </div>
    </div>

    <div class="mb-5 mt-5">
      <a href="{% url 'artesanato-atualizar-publicacao' object.pk %}"
          type="button"
          class="btn btn-danger acao-retirar-publicacao">
          Retirar publicação
      </a>
    </div>
{% endif %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
<script>
    var FOTOS_COUNT = {{ object.fotos.count }};
    var VARIACOES_COUNT = $('.variacoes-selecionadas .badge').length;

    function confirmar_publicacao() {
        console.log(VARIACOES_COUNT);
        if (! VARIACOES_COUNT)
            if (! confirm('Nenhuma VARIAÇÃO foi selecionada para este artesanato.\n\nDeseja publicar mesmo assim ?'))
                return false
        if (! FOTOS_COUNT)
            if (! confirm('Este cadastro não possui FOTOS.\n\nDeseja publicar mesmo assim ?'))
                return false
        if (! confirm('Confirma publicação deste artesanato ?'))
            return false
        return true
    }

    ///////////////////////
    // Publicar Artesanato
    ///////////////////////
    $('.acao-publicar').on('click', function (e) {
        e.preventDefault();
        if (! confirmar_publicacao())
            return false
        data = {
            acao: 'PUBLICAR',
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            mensagem: document.getElementsByName('mensagem_publicacao')[0].value
        };
        $.post('', data, function (data) {
            console.log(data);
        })
            .done(function() {
                location.reload();
            });
    });

    ////////////////////////
    // Atualizar publicação
    ////////////////////////
    $('.acao-atualizar-publicacao').on('click', function (e) {
        e.preventDefault();
        if (! confirmar_publicacao())
            return false
        data = {
            acao: 'ATUALIZAR_PUBLICACAO',
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            mensagem: document.getElementsByName('mensagem_publicacao')[0].value
        };
        $.post('', data, function (data) {
            console.log(data);
        })
            .done(function() {
                location.reload();
            });
    });

    ////////////////////////
    // Retirar publicação
    ////////////////////////
    $('.acao-retirar-publicacao').on('click', function (e) {
        e.preventDefault();
        if (! confirm('Confirma RETIRAR a publicação deste artesanato ?'))
            return false
        data = {
            acao: 'RETIRAR_PUBLICACAO',
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
        };
        $.post('', data, function (data) {
            console.log(data);
        })
            .done(function() {
                location.reload();
            });
    });
</script>
{% endblock %}
