{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
{% endblock %}

{% block top_content %}

    {% if request.user.is_authenticated and not request.user.tekoa %}
    <script>
        // Esta validação para tela de cadastro de artesanatos
        window.location='/admin';
        exit();
    </script>
    {% endif %}

    {% if object.pk %}
        <div class="row mb-2">
            <div class="col-12">
                {% if not object.foto_destaque %}
                    <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder: Thumbnail" height="70px"
                        preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">sem foto</text></svg>
                {% else %}

                    <!-- Carousel de fotos do artesanato -->
                    <div id="carousel-artesanato-{{ object.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="10000000">

                        <div class="carousel-inner">
                            {# for foto in object.fotos.all #}
                            <div class="carousel-item {% if not forloop.counter0 %}active{% endif %}">
                                {% if object.fotos.first.foto %}
                                    <img src="{{ object.fotos.first.foto|thumbnail_url:'medium'|default:'holder.js/425x425' }}" class="d-block w-100 img-thumbnail" alt="Foto do artesanato">
                                {% else %}
                                <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                                     xmlns="http://www.w3.org/2000/svg"
                                     role="img"
                                     aria-label="Placeholder: Thumbnail"
                                     height="240px"
                                     preserveAspectRatio="xMidYMid slice"
                                     focusable="false">
                                    <title>adicione fotos</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">foto corrompida! adicione novamente</text></svg>

                                {% endif %}
                                </div>
                                {# endfor #}
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <h1>
                    {{ object.tekoa_tecnica_artesanato.tecnica_artesanato }}
                </h1>
            </div>
            <div class="col-3">
                <a href="{% url 'artesanato-delete' object.id %}"
                    class="btn btn-sm btn-danger float-right mt-1 btn-remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                    Apagar artesanato
                </a>
            </div>
        </div>
    {% else %}
        <h1>
            Cadastrar artesanato
        </h1>
    {% endif %}

    {% if object.pk %}
    <div class="mb-4">
        <small class="text-muted">
            cód.: {{ object.id }} - Artesanato cadastrado em {{ object.data_registro|date:"d/m/Y" }}
        </small>
        <div class="m-0 p-0">
        <small class="text-success">
            R$ {{ object.calculo_preco_justo }}
        </small>
        -
        <small class="text-Secondary">
            R$ {{ object.calculo_preco_justo_desconto }} (-50%)
        </small>
        </div>

        <!-- status de publicação -->
        <div class="m-0 p-0">
            {% if 'PUBLICAR' in object.get_status_publicacao.0 %}
            <small class="text-danger">
                Falta publicar!
            </small>
            {% elif 'ATUALIZAR_PUBLICACAO' in object.get_status_publicacao.0 %}
            <small class="text-warning">
                Atualizar publicação!
            </small>
            {% else %}
            <small class="text-success">
                Publicado!
            </small>
            {% endif %}
        </div>

        <div class="mt-2 variacoes-selecionadas">
            <!-- variações atribuídas -->
            {% for variacao in object.variacoes.all %}
            {% if variacao.valor_variacao.valor_variacao %}
                <span class="badge text-bg-info">{{ variacao.variacao.nome }}: {{ variacao.valor_variacao.valor_variacao }}</span>
            {% endif %}
            {% endfor %}
        </div>

    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link {% if not nav %}active{% endif %}" aria-current="page"
                                                                href="{% url 'artesanato-update' object.id %}">
              Variações
          </a>
      </li>

      <!-- TODO! -->
      {# if object.variacoes.variacoes.filter(valor_variacao__isnull=False).count #}
      <li class="nav-item" style="position: relative;">
          <a class="nav-link {% if 'fotos' in nav %}active{% endif %}" href="{% url 'artesanato-fotos' object.id %}">
              Fotos
              ({{ object.fotos.count }})
          </a>
      </li>
      <li class="nav-item text-center" style="position: relative;" >
          <a class="nav-link {% if 'publicacao' in nav %}active{% endif %}"
             href="{% url 'artesanato-publicacao' object.id %}">
              Publicação<br>
          </a>
      </li>
      <li class="nav-item text-center" style="position: relative;" >
          <a class="nav-link {% if 'preco_justo' in nav %}active{% endif %}"
             href="{% url 'artesanato-preco-justo-composicao' object.id %}">
              Preço justo<br>
          </a>
      </li>
      {# endif #}
    </ul>
    {% endif %}
{% endblock %}

{% block extra_script %}
<script>
    //////////////////////
    // Excluir artesanato
    //////////////////////
    $('.btn-remove').on('click', function(e){
        e.preventDefault();
        url = $(this).attr('href');
        if (! confirm('Deseja realmente excluir este artesanato ?'))
            return false

        data = {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
        };
        $.post(url, data, function (data) {
            console.log(data);
        })
            .done(function() {
                window.location = '/';
            });
    });
</script>
{% endblock %}

{% block extra_style %}
<style>
    .carousel-item img {
        object-fit: cover;
        height: 250px !important;
    }
    @media screen and (min-width: 480px) {
        .carousel-item img {
            height: 400px !important;
        }
    }
    @media screen and (min-width: 700px) {
        .carousel-item img {
            height: 500px !important;
        }
    }
</style>
{% endblock %}
