{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col col-12">
        <h1>Alterar senha</h1>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-3 mt-4 mb-4">
    <div class="col">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <a type="button" class="btn btn-danger mt-5" href="#"
                onclick="history.back();">Cancelar</a>
            <button type="submit" class="btn btn-success mt-5 float-end">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}
