#fav-count {
  font-size: 2rem;
  color: #dc3545;
}
.fav-badge {
  font-size: 10px !important;
  background-color: #000 !important;
}
.fav-unselected {
  font-size: 1.5rem;
  color: #f9bfc5;
}
.fav-selected {
  font-size: 1.5rem;
  color: #dc3545;
}
.artesanatos-favoritos-modal-list {
  height: 600px;
}
.artesanatos-favoritos-modal-list div.col {
  margin-right:15px;
  margin-bottom:20px;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #61ce70 !important;
    fill: #61ce70 !important;
}
.navbar-nav .nav-link.active {
  border-bottom: solid 3px #61ce70;
}
