{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if form.errors %}
<p>Seu nome de usuário e senha não correspondem. Por favor, tente novamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não tem acesso a esta página. Para prosseguir,
     por favor faça o login com uma conta que tenha acesso.</p>
    {% else %}
    <p>Por favor, faça o login para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form|crispy }}

<button type="submit" class="btn btn-primary mt-3">Acessar</button>
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p> -->

{% endblock %}
