{% block content %}
<h2 class="mt-0 mb-0">{{ consulta_artesanato.tecnica_artesanal }}</h2>
{% for variacao in consulta_artesanato.variacoes %}
    {% if variacao.valor_variacao %}
        <span class="badge text-bg-info">{{ variacao.tekoa_tecnica_variacao.nome }}: {{ variacao.valor_variacao }}</span>
    {% endif %}
{% endfor %}

<div class="main">
    <section>
        <div id="uploader-2"></div>
    </section>
</div>

{% endblock %}

{% block extra_style %}
{{ form.media.css }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.13.0/fine-uploader-gallery.min.css" rel="stylesheet">
  <script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Arraste um arquivo aqui">
      <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
      </div>
      <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
        <span class="qq-upload-drop-area-text-selector"></span>
      </div>
      <div class="qq-upload-button-selector qq-upload-button">
        <div>Selecionar fotos</div>
      </div>
      <span class="qq-drop-processing-selector qq-drop-processing">
        <span>Processamento de arquivos descartados...</span>
        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
      </span>
      <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
        <li>
          <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
          <div class="qq-progress-bar-container-selector qq-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>
          <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
          <div class="qq-thumbnail-wrapper">
            <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
          </div>
          <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
          <button type="button" class="qq-upload-retry-selector qq-upload-retry">
            <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
              Tentar novamente
          </button>

          <div class="qq-file-info">
            <div class="qq-file-name">
              <span class="qq-upload-file-selector qq-upload-file"></span>
              <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
            </div>
            <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
            <span class="qq-upload-size-selector qq-upload-size"></span>
            <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
              <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
            </button>
            <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
              <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
            </button>
            <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
              <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
            </button>
          </div>
        </li>
      </ul>

      <dialog class="qq-alert-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <div class="qq-dialog-buttons">
          <button type="button" class="qq-cancel-button-selector">Fechar</button>
        </div>
      </dialog>

      <dialog class="qq-confirm-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <div class="qq-dialog-buttons">
          <button type="button" class="qq-cancel-button-selector">Não</button>
          <button type="button" class="qq-ok-button-selector">Sim</button>
        </div>
      </dialog>

      <dialog class="qq-prompt-dialog-selector">
        <div class="qq-dialog-message-selector"></div>
        <input type="text">
        <div class="qq-dialog-buttons">
          <button type="button" class="qq-cancel-button-selector">Cancelar</button>
          <button type="button" class="qq-ok-button-selector">Ok</button>
        </div>
      </dialog>
    </div>
  </script>
{% endblock extra_style %}

{% block extra_script %}
<script>
    var uploader_2 = new qq.FineUploader({
        debug: true,
        element: document.getElementById('uploader-2'),
        request: {
            endpoint: '{% url 'consulta-artesanato-foto-create-upload' consulta_artesanato.tekoa.access_token consulta_artesanato.combinacao_variacoes_slug %}',
            customHeaders: {
                'X-CSRFToken': Cookies.get('csrftoken')
            }
        },
        chunking: {
            enabled: true
        }
        // If you don't want concurrent uploads, you don't even need
        // to set a success url (success.endpoint).
    });

    $("#genericModal").on("hidden.bs.modal", function (evt) {
        // put your default event here
        if ($(this).find('.qq-thumbnail-selector')) {
            window.location.reload();
        }
    });
</script>
{% endblock extra_script %}
