{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{% endblock %}

{% block content %}
{% csrf_token %}
<!------------------------------------------------>
<!-- Filter by Tekoa (auth) & Tecnica artesanal -->
<!------------------------------------------------>
<div class="container menu-filter">
    <div class="row">
        <div class="col col-md-10 col-xs-4">
            <h2>Consulta de preços</h2>
        </div>
        <div class="col col-md-2 col-xs-8">
            <div class="dropdown filter-tekoa">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ tekoa_selected }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for tekoa in tekoa_options %}
                            <li><a class="dropdown-item filter-tekoa-option"
                                    href="{% url 'consulta-artesanato-list' tekoa.access_token %}?{{ request.GET.urlencode }}">
                                    {{ tekoa }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a class="btn btn-success" href="#" role="button">
                        {{ tekoa_selected }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                {% for tecnica in tecnicas_artesanais %}
                    <input type="checkbox" name="tecnica_artesanal[{{ tecnica.tecnica_artesanato.id }}]" class="btn-check"
                        id="btn-check-{{ tecnica.tecnica_artesanato.id }}" autocomplete="off"
                        {% if tecnica.tecnica_artesanato.id in tecnicas_artesanais_selected %}
                        checked
                        {% endif %}
                        onclick="form.submit()"
                        >
                    <label class="btn btn-outline-primary mt-1" for="btn-check-{{ tecnica.tecnica_artesanato.id }}">{{ tecnica.tecnica_artesanato.nome }}</label>
                {% endfor %}
            </form>
        </div>
    </div>
</div>


<!--------------------->
<!-- List artesanato -->
<!--------------------->
{% if artesanatos %}
<div class="row row-cols-1 row-cols-md-3 g-3 mt-4 mb-5">
    {% for object in artesanatos %}
    {% with artesanato=object %}
    <div class="col">
        <div class="card shadow-sm">
            <!-- Fotos -->
            {% if not artesanato.fotos %}
                <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     aria-label="Placeholder: Thumbnail"
                     height="240px"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>sem foto</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">sem foto</text></svg>
            {% else %}

                <!-- Carousel de fotos do artesanato -->
                <div id="carousel-artesanato-{{ artesanato.tekoa.id }}-{{ artesanato.combinacao_variacoes_slug }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="10000000">
                    <div class="carousel-indicators">
                        {% for foto in object.fotos.all %}
                        <button type="button" data-bs-target="#carousel-artesanato-{{ artesanato.tekoa.id }}-{{ artesanato.combinacao_variacoes_slug }}{{ object.id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}class="active" aria-current="true"{% endif %} aria-label="Foto {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>

                    <div class="carousel-inner">
                        {% for foto in object.fotos.all %}
                        <div class="carousel-item {% if not forloop.counter0 %}active{% endif %}">
                            {% if foto.foto %}
                            <a href="{{ foto.foto.url }}"
                                class="btn-foto-view"
                                data-title="{{ artesanato.tecnica_artesanal }} - {{ artesanato.combinacao_variacoes_verbose }} <i>({{ artesanato.tekoa }})</i>"
                                data-user-add="{{ foto.user_add }}"
                                data-created-at="{{ foto.data_registro|date:"d/m/Y" }}"
                                {% if request.user.is_superuser or request.user.tekoa == artesanato.tekoa %}
                                data-delete-url="{% url 'consulta-artesanato-foto-delete' artesanato.tekoa.access_token artesanato.combinacao_variacoes_slug foto.id %}"
                                {% endif %}
                                >
                                <img src="{{ foto.foto|thumbnail_url:'medium'|default:'holder.js/425x425' }}" class="d-block w-100 img-thumbnail" alt="Foto do artesanato">
                            </a>
                            {% else %}
                            <svg class="bd-placeholder-img card-img-top img-fluid img-thumbnail"
                                 xmlns="http://www.w3.org/2000/svg"
                                 role="img"
                                 aria-label="Placeholder: Thumbnail"
                                 height="240px"
                                 preserveAspectRatio="xMidYMid slice"
                                 focusable="false">
                                <title>adicione fotos</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">foto corrompida! adicione novamente</text></svg>

                            {% endif %}

                        </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-artesanato-{{ artesanato.tekoa.id }}-{{ artesanato.combinacao_variacoes_slug }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-artesanato-{{ artesanato.tekoa.id }}-{{ artesanato.combinacao_variacoes_slug }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próxima</span>
                    </button>
                </div>

            {% endif %}
            <div class="card-body">
                <p class="card-text">
                    <!-- técnica artesanal -->
                    <!-- <b>{{ artesanato.tecnica_artesanal }}</b> -->
                    <b>{{ artesanato.tecnica_artesanal }}</b>
                    <small><i>({{ tekoa_selected }})</i></small>
                    <br>

                    <!-- variações atribuídas -->
                    {% for variacao in artesanato.variacoes %}
                    {% if variacao.valor_variacao %}
                    <span class="badge text-bg-info">{{ variacao.tekoa_tecnica_variacao.nome }}: {{ variacao.valor_variacao }}</span>
                    {% endif %}
                    {% endfor %}
                </p>

                <!-- Faixa de preço: preço justo - preço social (até 50% off) -->

                <div class="row text-center mb-4 p-2 bg-light">
                    <div class="col border-end">
                        <p class="card-text text-success">
                            <b>
                                <span class="fs-5">Preço justo</span>
                                <br>
                                <span class="fs-4">R$ {{ artesanato.preco_justo }}</span>
                            </b>
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text text-muted">
                            <b>
                                Preço social
                                <br>
                                até R$ {{  artesanato.preco_social }}
                            </b>
                            <br>
                            <small>(50% de desconto)</small>
                        </p>
                    </div>
                </div>


                <div class="d-flex justify-content-between align-items-center">

                    <!-- rodapé: botões de ação -->
                    <div class="container">
                        <div class="row align-items-start">
                            <div class="col">
                                <a href="{% url 'consulta-artesanato-calculo-detail' tekoa_selected.access_token artesanato.combinacao_variacoes_slug %}"
                                    type="button" class="btn btn-sm btn-outline-secondary btn-calculo-detail">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                                        <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                    Cálculo
                                </a>
                                {% if request.user.is_superuser or request.user.tekoa == tekoa_selected %}
                                <a href="{% url 'consulta-artesanato-foto-create' tekoa_selected.access_token artesanato.combinacao_variacoes_slug %}"
                                    type="button" class="btn btn-sm btn-outline-secondary ms-3 btn-add-foto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Fotos
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% else %}
    <div class="row g-3 mt-4 mb-5">
    <p>
        {{ filter_empty_msg }} <br/>
        Para desconsiderar o filtro e visualizar os artesanatos da {{ tekoa_selected }}
        <a href="{% url 'consulta-artesanato-list' tekoa_selected.access_token %}">clique aqui</a>
    </p>
    </div>
{% endif %}


<!----------->
<!-- Modal -->
<!----------->
<div class="modal fade" id="genericModal" tabindex="-1" aria-labelledby="genericModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="genericModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_style %}
<style>
.carousel-item img {
    object-fit: cover;
    height: 250px
}

/*
.menu-filter {
    position: sticky;
    top: 54px;
    z-index: 9;
    background-color: #fff;
    padding: 10px;
}
*/
</style>
  <style type="text/css">
    body {
      font-family: Helvetica Neue, Helvetica, Arial;
    }
    .main {
      margin: 20px 40px;
    }
    h1 {
      font-size: 22px;
    }
    /*
    h2 {
      color: #0a798c;
      font-size: 16px;
      font-weight: normal;
    }
    */
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee
    }
    .links-container {
      background: #f4f4f4;
      width: auto;
      min-height: 50px;
      margin-top: 20px;
      border: solid 1px #eee;
      border-radius: 10px;
      padding: 20px;
    }
    .links-container h3 {
      font-size: 16px;
      font-weight: normal;
      margin-top: 0;
    }

    .qq-gallery .qq-total-progress-bar-container {
        float: unset;
    }
  </style>
<style>
#div_id_foto.form-group{
    margin-bottom: 30px;
}
</style>
{% endblock extra_style %}

{% block extra_script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.13.0/fine-uploader.min.js"></script>
<!-- Cookies.js, so we can get the CSRFToken cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js" charset="utf-8"></script>

<script>
    $('.btn-calculo-detail').click(function(evt){
        evt.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            type: "GET",
            url: url,
            success: function(res) {
                $('#genericModalLabel').text('Cálculo do Preço justo na {{ tekoa_selected }}');
                $('.modal-body').html(res);
                $('#genericModal').modal('show');
            },
            error:function(request, status, error) {
                console.log("ajax call went wrong:" + request.responseText);
            }
        });
    });

    $('.btn-add-foto').click(function(evt){
        evt.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            type: "GET",
            url: url,
            success: function(res) {
                $('#genericModalLabel').text('Adicionar fotos na consulta da {{ tekoa_selected }}');
                $('.modal-body').html(res);
                $('#genericModal').modal('show');
            },
            error:function(request, status, error) {
                console.log("ajax call went wrong:" + request.responseText);
            }
        });
    });

    $('.btn-foto-view').click(function(evt){
        evt.preventDefault();
        img_url = $(this).attr("href");
        user_add = $(this).data('user-add');
        created_at = $(this).data('created-at');
        title = $(this).data('title');
        figcaption_tag = '<figcaption class="text-end figure-caption mb-0">Foto adicionada por ' + user_add;
        figcaption_tag += ' em ' + created_at + '</figcaption>';
        img_tag = '<img class="figure-img img-fluid rounded" src="' +img_url+ '" alt="..." />';

        // adiciona botão delete
        {% if request.user.is_superuser or request.user.tekoa == tekoa_selected %}
            delete_url = $(this).data('delete-url');

            btn_delete = '<button data-delete-url="'+ delete_url +'" type="button" class="btn btn-danger btn-foto-delete position-absolute start-0 ms-3">Apagar foto</button>';
            modal_footer = $('.modal-footer').html();
            $('.modal-footer').html(btn_delete + modal_footer);
        {% endif %}

        $('#genericModalLabel').html(title);
        $('.modal-body').html('<figure class="figure">' + img_tag + figcaption_tag + '</figure>');
        $('#genericModal').modal('show');
    });

    $(document).on('click', '.btn-foto-delete', function(evt){
        if (! confirm('Tem certeza que deseja apagar esta foto?'))
            return
        delete_url = $(this).data('delete-url');
        data = {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
        };
        $.post(delete_url, data, function (data) {
            console.log(data);
        })
            .done(function() {
                location.reload();
            });
    });

    // reset footer on close modal
    $("#genericModal").on("hidden.bs.modal", function (evt) {
        btn_close = '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>';
        $('.modal-footer').html(btn_close);
    });
</script>
{% endblock extra_script %}
