{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
    <link rel="shortcut apple-touch-icon" href="{% static 'logo-calculadora-tekoakuery-admin.png' %}" sizes="180x180">
    <link rel="shortcut icon" href="{% static 'logo-calculadora-tekoakuery-admin.png' %}" sizes="32x32" type="image/png">
    <link rel="shortcut icon" href="{% static 'logo-calculadora-tekoakuery-admin.png' %}" sizes="16x16" type="image/png">
    <!-- <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json"> -->
    <!-- <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9"> -->
    <link rel="shortcut icon" href="{% static 'logo-calculadora-tekoakuery-admin.png' %}" type="image/png">
{% endblock %}
