{% load static %}

<nav class="navbar navbar-expand-xl sticky-top" style="background-color:#fff;" aria-label="Sixth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarsExample06">
      <ul class="navbar-nav mb-xl-0">
        <li class="nav-item my-2 mx-2 pt-1 ps-2">
          <a class="nav-link" href="https://tekoakuery.com/inicio/">INICIO</a>
        </li>
        <li class="nav-item my-2 mx-2 pt-1 ps-2">
          <a class="nav-link" href="https://tekoakuery.com/tekoa-mirim/">TEKOA MIRIM</a>
        </li>
        <li class="nav-item my-2 mx-2 pt-1 ps-2">
          <a class="nav-link" href="https://tekoakuery.com/tekoa-paranapua/">TEKOA PARANAPUÃ</a>
        </li>
        <li class="nav-item my-2 mx-2 pt-1 ps-2">
          <a class="nav-link" href="https://tekoakuery.com/nhanderekoa/">NHANDEREKOA</a>
        </li>
        <li class="nav-item my-2 mx-2 pt-1 ps-2">
          <a class="nav-link active" aria-current="page" href="https://catalogo.tekoakuery.com/publicacao/artesanato/">CATÁLOGO</a>
        </li>
        <li class="nav-item my-2 mx-2 pt-1 ps-2">
          <a class="nav-link" href="https://tekoakuery.com/boletim-tekoa-kuery/">BOLETIM TEKOA KUERY</a>
        </li>
        <li class="nav-item my-2 mx-2 me-5 pt-1 ps-2">
          <a class="nav-link" href="https://tekoakuery.com/quem-somos/">QUEM SOMOS</a>
        </li>
      </ul>
    </div>
    <div class="nav-item my-2 me-3">
      <a href="{% url 'publico-artesanato-favorite-list' %}" class="artesanato-favorite is_modal" modal-title="Artesanatos favoritos" title="Artesanatos favoritos">
        <i class="bi-heart-fill position-relative" id="fav-count">
          {% if request.session.artesanatos_favoritos|length > 0 %}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill fav-badge">
            {{ request.session.artesanatos_favoritos|length }}
            <span class="visually-hidden">artesanatos favoritos</span>
          </span>
          {% endif %}
        </i>
      </a>
    </div>
  </div>
</nav>
