<!doctype html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <!-- <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"> -->
        <!-- <meta name="generator" content="Hugo 0.98.0"> -->
        {% block meta_title %}
        <title>Calculadora do Preço justo</title>
        {% endblock %}

        <!-- link href="{% static 'preco_justo/css/bootstrap.min.css' %}" rel="stylesheet" -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{% static 'logo-calculadora-tekoakuery.png' %}" sizes="180x180">
        <link rel="icon" href="{% static 'logo-calculadora-tekoakuery.png' %}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static 'logo-calculadora-tekoakuery.png' %}" sizes="16x16" type="image/png">
        <!-- <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json"> -->
        <!-- <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9"> -->
        <link rel="icon" href="{% static 'logo-calculadora-tekoakuery.png' %}" type="image/png">
        <meta name="theme-color" content="#712cf9">


        {% block style %}
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                        font-size: 3.5rem;
                    }
                }

                .b-example-divider {
                    height: 3rem;
                    background-color: rgba(0, 0, 0, .1);
                    border: solid rgba(0, 0, 0, .15);
                    border-width: 1px 0;
                    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
                }

                .b-example-vr {
                    flex-shrink: 0;
                    width: 1.5rem;
                    height: 100vh;
                }

                .bi {
                    vertical-align: -.125em;
                    fill: currentColor;
                }

                .nav-scroller {
                    position: relative;
                    z-index: 2;
                    height: 2.75rem;
                    overflow-y: hidden;
                }

                .nav-scroller .nav {
                    display: flex;
                    flex-wrap: nowrap;
                    padding-bottom: 1rem;
                    margin-top: -1px;
                    overflow-x: auto;
                    text-align: center;
                    white-space: nowrap;
                    -webkit-overflow-scrolling: touch;
                }
        </style>
        {% endblock style %}

        {% block extra_style %}
        {% endblock %}
    </head>
    <body>

        {% block content_navbar %}
        {% endblock %}

        <main class="container">
            {% block main_container %}
            {% block content %}
            {% endblock %}
            {% endblock main_container %}
        </main>

    </body>

    <!-- script src="{% static 'preco_justo/js/jquery.min.js' %}"></script -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- script src="{% static 'preco_justo/js/bootstrap.bundle.min.js' %}"></script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{% static 'preco_justo/js/holder.js' %}"></script>

    {% block extra_script %}
    {% endblock %}
</html>
